@use "tailwindcss";
@use "./variables.scss";

@config "../../tailwind.config.js";

.container {
  background: var(--background-primary);
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

/* Hide scrollbars globally while preserving scroll functionality */
* {
  -ms-overflow-style: none; /* IE and old Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, newer Edge */
}
