:root {
  --background-primary: #171717;
  --background-secondary: #18181b;
  --background-tertiary: #18181b;
  --background-help-item: #2b2b2b;
  --background-button: #124ee4;

  --border-primary: #ffffff26;
  --border-secondary: #27272a;

  --color-blue: #124ee4;
  --color-gray: #b2b2b2;
  --color-gold: #fc9707;

  --gradient-blue: linear-gradient(180deg, #2589fc 0%, #0951c8 100%);

  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: #71717a;
  --text-black: #000000;

  /* Status colors */
  --success: #17c964;
  --warning: #f5a524;
}
