.container {
  color: #fff;
  background: url("/gift-back.png") no-repeat center center;
  background-size: cover;
  margin: 0 20px;
  border-radius: 12px;
  padding: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.titleHighlight {
  color: var(--color-gold);
}

.description {
  font-weight: 300;
  font-size: 12px;
}

.button {
  background: var(--background-button);
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.98);
  }
}
