.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  padding-top: calc(
    var(--tg-viewport-safe-area-inset-top, 0px) +
      var(--tg-viewport-content-safe-area-inset-top, 0px)
  );
  background: var(--background-primary);
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: var(--background-primary);
}

.main {
  flex: 1;
  overflow-y: auto;
  padding-bottom: var(--navbar-height);
  -webkit-overflow-scrolling: touch;
}
